---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Post from "@components/Post";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

interface DiscordUserData {
  avatar: string;
  discriminator: string;
  id: string;
  username: string;
  global_name: string;
  accent_color: number;
  banner_color: string;
  flags: number;
  locale: string;
  premium_type: 0 | 1 | 2;
}

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header/>
  <main id="main-content">
    <section id="hero">
      <div>
        <h1>
          Play Dev: <span class="text-skin-base">Hub</span>
          <a
          target="_blank"
          href="/rss.xml"
          class="rss-link"
          aria-label="rss feed"
          title="RSS Feed">
  
          <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
            ><path
              d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
            ></path><path
              d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
            ></path><circle cx="6" cy="18" r="2"></circle>
          </svg>
          <span class="sr-only">RSS Feed</span>
          </a>
        </h1>

      </div>

      <p>
        <!-- Bem-vindo ao Blog da Play Dev, onde apaixonados por tecnologia e criativos se encontram 
        para compartilhar conhecimento em áreas como 
        💻 desenvolvimento web, 📱 mobile, 🎮 game dev, 🎨 design e mais. 
        Explore tópicos avançados como 🧠 Inteligência Artificial e 
        conecte-se com profissionais de diversas áreas no mundo da tecnologia! -->
        <span class="block animate-slideIn">Bem vindo ao Hub da Comunidade Play Dev! 🎉</span>
        <span class="block">Aqui você encontra tudo sobre tecnologia e programação. 🤓</span>
        <span class="block">Acompanhe as novidades! 🌟</span>
      </p>
      <!-- <p>
        Read the blog posts or check
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p> -->

      <div class="flex flex-row-reverse justify-between items-center">
        <!-- {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <div class="social-wrapper">
              <Socials />
            </div>
          )
        } -->
      </div>
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Apresentação</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Últimas Postagens</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Post
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        Todas as Postagens
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
    @import 'animate.css';
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8 text-center;
  }
  #hero h1 {
    @apply my-4 text-skin-accent inline-block text-3xl font-bold sm:mt-0 sm:mb-8 sm:text-5xl;
  }
  #hero .rss-link {
    
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured {
    @apply pt-6;
  }


  #recent-posts {
    @apply pb-6 pt-8;
  }

  #featured h2 {
    @apply text-4xl font-semibold tracking-wide;
  }

  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }

  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>