---
import { getCollection } from "astro:content";
import Courses from "@layouts/Courses.astro";
import getSortedCourses from "@utils/getSortedCourses";
import getPagination from "@utils/getPagination";

const readme = await fetch('https://api.github.com/repos/Play-Devs/challenges/contents/README.md');

const readmeData = await readme.json();
const readmeContent = atob(readmeData.content); 
---

<div>
  <h1>Desafios</h1>
    <p>
    {readmeContent}
    </p>
</div>