---
---
<style>
  @import 'animate.css';

  .banner-cookies {
    @apply opacity-0 bg-skin-tooltip rounded-sm px-4 py-2 w-6/12 text-center;
    @apply flex justify-center items-center h-[40%] sm:h-[30%];
    @apply flex-col;
    width: 100%;
    position: fixed;
    bottom: -20%;
    z-index: 100;
    transition: 0.3s all;
    pointer-events: none;
    z-index: 40;
  }

  .cookies.visible .banner-cookies {

    align-items: center;
    bottom: 0;
    z-index: 50;
    opacity: 1;
    pointer-events: all;
  }

  .banner-cookies .content {
    @apply opacity-0 p-6 max-w-7xl flex flex-col gap-2 sm:gap-4;
    transform: translateY(25%);
    transition: 0.3s all ease-in-out;
    transition-delay: 500ms;
  }

  .cookies.visible .banner-cookies .content {
    transform: translateY(0);
    opacity: 1;
  }

  .banner-cookies .content .title {
    @apply text-2xl sm:text-4xl font-bold;
  }

  .banner-cookies .content .text {
    @apply sm:text-lg;
  }

  .banner-cookies .actions {
    @apply flex flex-col justify-end items-end;
  }

  .banner-cookies .actions button[confirm-cookies] {
    /* background-color: #27ae60; */
    @apply px-5 bg-skin-accent rounded-sm min-w-[120px];
    transition: 0.3s ease;
    @apply hover:bg-skin-accent-dark;
  }

  .banner-cookies .actions button[disapprove-cookies] {
    background-color: #c0392b;
    @apply px-2 rounded-sm;
  }

  .banner-cookies .actions button[confirm-cookies] {
    /* background-color: #27ae60; */
    @apply w-full px-10 py-2;
  }

  .cookies-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 50;
    backdrop-filter: blur(0);
    transition: 0.3s all;
  }
  
  .cookies.visible .cookies-mask {
    backdrop-filter: blur(8px);
  }

</style>

<div class="cookies">

  <div class="cookies-mask"></div>

  <div class="banner-cookies">
    <div class="content">
      <h4 class="title">Uso de Cookies</h4>

      <p class="text">
        Este site utiliza cookies para melhorar a sua experiência de navegação. <br />
        Ao utilizar nossos serviços, você concorda com tal monitamento.
      </p>

      <div class="actions">
        <button confirm-cookies>Ok, Entendi</button>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('astro:page-load', () => {
  if (window.localStorage.getItem('cookies')) {
    removeCookies();
  }

  setTimeout(() => {
    if (!window.localStorage.getItem('cookies')) {
      document.querySelector('.cookies')?.classList.add('visible');

      document.body.style.overflowY = 'hidden';
    }
  }, 500);

  function removeCookies() {
    document.querySelector('.cookies')?.remove();
  }

  function confirmCookies() {
    window.localStorage.setItem('cookies', 'Y');
    document.querySelector('.cookies')?.classList.remove('visible');

    document.body.style.overflowY = 'auto';

    setTimeout(() => {
      removeCookies();
    }, 300);
  }
  document.querySelector('button[confirm-cookies]')?.addEventListener('click', confirmCookies);
})
</script>