---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import { Image } from "astro:assets";
import UserArea from "./UserArea";
import { Icon } from 'astro-icon/components';
import LayoutConfig from "./LayoutConfig.astro";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search" | "chat";
  isAuth?: boolean;
}

const { activeNav, isAuth } = Astro.props;
---

<style>
  @import 'animate.css';

  #skip-to-content {
    @apply absolute -top-full left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .nav-container {
    @apply mx-auto flex max-w-5xl flex-col items-center justify-between sm:flex-row;
  }

  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between p-4 sm:items-center sm:py-4 transition-all ease-in;
  }

  .logo {
    @apply absolute py-1 text-xl font-semibold sm:static sm:text-2xl;
  }
  .logo img {
    @apply transition-all ease-in max-w-12 sm:max-w-16;
  }

  .hamburger-menu {
    @apply self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }
</style>

<style is:global>
  .btn-login {
    @apply rounded-md p-1 pr-3 flex items-center justify-between gap-1 font-bold transition-all ease-in;
    background-color: #5964f2;
    min-width: 100px;
    color: #f1f1f1;
  }

  .btn-login:hover {
    box-shadow: inset 0px 0px 5px 0px #000;
    letter-spacing: .5px;
    transform: scale(1.05);
  }

  .profile {
    @apply rounded-full flex items-center justify-center relative;
  }

  .profile .avatar {
    @apply max-w-[60px] cursor-pointer;
  }

  .profile .avatar .image {
    @apply max-w-[60px] rounded-full;
  }

  .profile .avatar::before,
  .profile .avatar::after {
    content: "";
    position: absolute;
  }

  .profile .avatar::before {
    @apply w-[15px] h-[15px] right-[5px] bottom-0 bg-skin-fill border-[1px] border-skin-accent rounded-full;
  }

  .profile .avatar::after {
    @apply w-[5px] h-[5px] right-[10px] bottom-[6px] bg-transparent border-r-[1px] border-b-[1px] border-skin-fill rotate-45;
  }

  .profile .user-options {
    @apply absolute top-[125%] rounded-md right-0 overflow-hidden bg-skin-tooltip bg-opacity-50 z-10 p-2 min-w-[180px];
    animation: fadeInDown ease-out;
    animation-duration: 1s;
  }

  .profile .user-options hr {
    opacity: 0.3;
    margin: 10px 0;
  }
</style>

<!-- <iframe src="https://e.widgetbot.io/channels/1200296192890916865/1212450831178408036" allow="clipboard-write; fullscreen" height="600" width="800"></iframe> -->

<header class="sticky top-0 z-50 bg-skin-fill">
  <a id="skip-to-content" href="#main-content">Skip to content</a>
  <div class="nav-container">
    <div class="top-nav-wrap" smooth-scroll>
      <a href="/" class="logo whitespace-nowrap">
        {
          LOGO_IMAGE.enable ? (
            <Image
              src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
              alt={SITE.title}
              width={LOGO_IMAGE.width}
              height={LOGO_IMAGE.height}
              smooth-scroll
            />
          ) : (
            SITE.title
          )
        }
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              Postagens
            </a>
          </li>
          <li>
            <a href="/tags/" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/sobre/" class={activeNav === "about" ? "active" : ""}>
              Sobre
            </a>
          </li>
          <!-- <li>
            <a href="/chat/" class={activeNav === "chat" ? "active" : ""}>
              Nosso Chat
            </a>
          </li> -->
          <li>
            <LinkButton
              href="/search/"
              className={`focus-outline p-3 sm:p-1 ${
                activeNav === "search" ? "active" : ""
              } flex`}
              ariaLabel="search"
              title="Pesquisar"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="scale-125 sm:scale-100"
                ><path
                  d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                ></path>
              </svg>
              <span class="sr-only">Pesquisar</span>
            </LinkButton>
          </li>

          <li>
            {
              !isAuth &&
              <div class="user-area">
                <UserArea client:load />
              </div>
            }
          </li>

          <li class="relative">

            <LayoutConfig layout-config />

          </li>

        </ul>
      </nav>
    </div>
  </div>
  <Hr />
</header>

<script>
  let currentHeight: number;

  function smoothHeightScroll() {
    const smoothClass = 'smooth-scroll';

    if (!currentHeight) currentHeight = 0;

    document.querySelectorAll('*[smooth-scroll]').forEach(el => {
      // @ToDo Play Dev -> Create logic to decrease height as scroll
      const target = {
        min: 0,
        max: 20
      };

      if (!window.scrollY && el.classList.contains(smoothClass)) {
        el.classList.remove(smoothClass);
      }

      if (window.scrollY && !el.classList.contains(smoothClass)) {
        el.classList.add(smoothClass);
      }
    });
  }
  document.addEventListener("scroll", smoothHeightScroll);

</script>

<!-- <script>
  import { isLoggedIn } from "core/session";

  isLoggedIn.subscribe((logged: boolean) => {
    const container = document.querySelector('*[user-area]') as Element;
  })
</script> -->