---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import { Image } from "astro:assets";
import UserArea from "./UserArea";

export interface Props {
  activeNav?: "posts" | "tags" | "about" | "search" | "chat" | "instructors";
  isAuth?: boolean;
}

const { activeNav, isAuth } = Astro.props;
---

<style>
  @import 'animate.css';

  .nav-container {
    @apply mx-auto flex max-w-7xl flex-col items-center justify-between sm:flex-row;
  }

  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between sm:items-center py-2 sm:py-4 transition-all ease-in;
  }

  .logo {
    @apply absolute sm:py-1 text-xl font-semibold sm:static sm:text-2xl;
    letter-spacing: -2px;
  }
  .logo img {
    @apply transition-all ease-in max-w-10 p-0 ml-1 sm:max-w-16;
  }

  .logo .logo-letter {
    @apply hidden sm:inline-block first-of-type:ml-2;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-property: all;
    font-weight: 900;
    position: relative;
    margin: 0 0.5px;
  }

  .logo .logo-letter:hover {
    @apply text-skin-accent;
    margin-top: -0.75rem;
    transition-duration: 250ms;
  }

  .hamburger-menu {
    @apply self-end p-2 z-50 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }

  #menu-items {
    @apply sm:flex;
  }

  @media screen and (max-width: 640px) {
    #menu-items {
      margin-top: 30px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      padding: 20px;
      animation: fadeOutRight forwards;
      animation-duration: 0.5s;
      @apply bg-skin-tooltip text-skin-base;
    }

    #menu-items.visible {

      animation: fadeInRight;
      animation-duration: 0.5s;
    }

    .hamburger-menu.opened .menu-icon .line {
      opacity: 0;
    }

    .hamburger-menu.opened .menu-icon .close {
      opacity: 1;
    }

    header hr {
      display: none;
    }
  }

</style>

<!-- <iframe src="https://e.widgetbot.io/channels/1200296192890916865/1212450831178408036" allow="clipboard-write; fullscreen" height="600" width="800"></iframe> -->

<header class="w-full sticky top-0 z-50 bg-skin-fill">
  <div class="nav-container">
    <div class="top-nav-wrap" smooth-scroll>
      <a href="/" class="logo whitespace-nowrap">
        {
          LOGO_IMAGE.enable ? (
            <div class="flex items-center">
              <Image
                src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
                alt={SITE.title}
                width={LOGO_IMAGE.width}
                height={LOGO_IMAGE.height}
                smooth-scroll
              />

              <span class="logo-letter">P</span>
              <span class="logo-letter">l</span>
              <span class="logo-letter">a</span>
              <span class="logo-letter">y</span>
              <span class="logo-letter">D</span>
              <span class="logo-letter">e</span>
              <span class="logo-letter">v</span>

            </div>
          ) : (
            SITE.title
          )
        }
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items">
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              Postagens
            </a>
          </li>
          <li>
            <a href="/tags/" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>
          <li>
            <a href="/sobre/" class={activeNav === "about" ? "active" : ""}>
              Sobre
            </a>
          </li>
          <!-- <li>
            <a href="/instructors/" class={activeNav === "instructors" ? "active" : ""}>
              Instrutores
            </a>
          </li> -->
          <!-- <li>
            <a href="/chat/" class={activeNav === "chat" ? "active" : ""}>
              Nosso Chat
            </a>
          </li> -->
          <div class="flex flex-row justify-center gap-8 mt-12 mb-2 sm:mt-0 sm:mb-0 sm:gap-4">
            <li class="flex">
              <LinkButton
                href="/search/"
                className={`focus-outline p-1 ${
                  activeNav === "search" ? "active" : ""
                } flex`}
                ariaLabel="search"
                title="Pesquisar"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  
                  ><path
                    d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                  ></path>
                </svg>
                <span class="sr-only">Pesquisar</span>
              </LinkButton>
            </li>

            <li>
              {
                !isAuth &&
                <div class="user-area flex">
                  <UserArea client:load />
                </div>
              }
            </li>

            <li class="order-4">
              <button
                id="theme-btn"
                class="focus-outline"
                title="Toggles light & dark"
                aria-label="auto"
                aria-live="polite"
              >
                <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                  <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
                </svg>
    
                <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                  <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
                </svg>
              </button>
            </li>
          </div>

          <!-- <li class="relative">
            
            <LayoutConfig />

          </li> -->
        </ul>
      </nav>
    </div>
  </div>
  <Hr noPadding />
</header>

<script>
    let currentHeight: number;

    function toggleMenuHamburguer() {
      document.getElementById('menu-items')?.classList.toggle('visible');
      document.querySelector('.hamburger-menu')?.classList.toggle('opened');
    }

    function smoothHeightScroll() {
      const smoothClass = 'smooth-scroll';

      if (!currentHeight) currentHeight = 0;

      document.querySelectorAll('*[smooth-scroll]').forEach(el => {
        if (!window.scrollY && el.classList.contains(smoothClass)) {
          el.classList.remove(smoothClass);
        }

        if (window.scrollY && !el.classList.contains(smoothClass)) {
          el.classList.add(smoothClass);
        }
      });

    }

  document.addEventListener('astro:page-load', () => {
    document.addEventListener("scroll", smoothHeightScroll);
    document.querySelector('button.hamburger-menu')?.addEventListener('click', toggleMenuHamburguer);
  });
  // document.querySelector('button.hamburger-menu')?.removeEventListener('click', toggleMenuHamburguer);
</script>