---
import { SITE } from "@config";
import { Icon } from "astro-icon/components";
---
<style>
  @import 'animate.css';

  .layout-config {
    @apply hidden transition ease-in;
  }

  .layout-config.visible {
    display: flex;
  }

  .layout-config .layout-options {
    @apply absolute top-[95%] rounded-md right-0 overflow-hidden bg-skin-tooltip bg-opacity-50 z-10 p-2;
    animation: fadeInDown ease-out;
    animation-duration: 1s;
  }

  .layout-config .layout-options li {
    line-height: 0;
    @apply p-3 sm:p-1;
  }

  .icon-gear {
    @apply cursor-pointer hover:animate-spin;
  }

  .icon-gear.animated {
    @apply animate-spin text-skin-accent;
  }

  #sun-svg:hover {
    animation: rotateIn infinite;
    animation-duration: 2s;
  }

  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  #font-size-btn {
    @apply cursor-pointer leading-5 text-center;
  }

  #font-size-btn:hover {
    animation: transformText infinite ease-out;
    animation-duration: 2s;
  }

  @keyframes transformText {
    0% {
      text-transform: none;
      opacity: 0;
    }

    25% {
      text-transform: lowercase;
      opacity: 1;
    }

    50% {
      text-transform: capitalize;
      opacity: 0;
    }

    100% {
      text-transform: uppercase;
      opacity: 1;
    }
  }
</style>

{
  SITE.layoutConfig.lightAndDarkMode && (
      <button
        id="theme-btn"
        class="focus-outline"
        title="Toggles light & dark"
        aria-label="auto"
        aria-live="polite"
      >
        <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
          <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
          <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
        </svg>
      </button>
  )
}
  
  <!-- <Icon
  name="gear"
  class="icon-gear"
  layout-config-trigger />

<div class="layout-config">
  <ul class="layout-options">
    {
      SITE.layoutConfig.lightAndDarkMode && (
        <li>
          <button
            id="theme-btn"
            class="focus-outline"
            title="Toggles light & dark"
            aria-label="auto"
            aria-live="polite"
          >
            <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
              <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" />
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
              <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" />
            </svg>
          </button>
        </li>
      )
    }

    <li id="font-size-btn">aA</li>
  </ul>
</div> -->

<script>
  const config = document.querySelector('.layout-config');
  const configTrigger = document.querySelector('*[layout-config-trigger]');
  function toggleLayoutConfig() {

    config?.classList.toggle('visible');

    configTrigger?.classList.toggle('animated');
  }
  configTrigger?.addEventListener(
    "click", toggleLayoutConfig
  );

  document.addEventListener("click", (e: MouseEvent) => {
    const target = e.target as HTMLElement;

    if (target !== configTrigger) {
      config?.classList.contains('visible') ? config.classList.remove('visible') : null;
      configTrigger?.classList.contains('animated') ? configTrigger.classList.remove('animated') : null; 
    }

  });
</script>