---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import UserArea from "./UserArea/UserArea";
import { Icon } from "astro-icon/components";

import { IconSun, IconMoon, IconBell } from "@tabler/icons-react";

export interface Props {
  activeNav?:
    | "posts"
    | "tags"
    | "about"
    | "search"
    | "chat"
    | "instructors"
    | "courses"
    | "challenges";
  isAuth?: boolean;
}

const { activeNav, isAuth } = Astro.props;
---

<style>
  @import "animate.css";

  .nav-container {
    @apply mx-auto flex w-auto max-w-7xl flex-col items-center justify-between sm:flex-row;
    transition: 0.3s all;
    &.smooth-scroll {
      @apply max-w-full px-5;

      .logo-letter {
        @apply scale-50 opacity-0;
      }

      .logo-svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .top-nav-wrap {
    @apply relative flex w-full items-start justify-between py-2 transition-all ease-in sm:items-center;
  }

  .logo {
    @apply absolute text-xl font-semibold sm:static sm:py-1 sm:text-2xl;
    letter-spacing: -2px;
  }

  .logo-svg {
    @apply ml-1 max-w-10 p-0 transition-all ease-in sm:max-w-16;
  }

  .logo .logo-letter {
    @apply hidden first-of-type:ml-2 sm:inline-block;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    transition-property: all;
    font-weight: 900;
    position: relative;
    margin: 0 0.5px;
  }

  .logo .logo-letter:hover {
    @apply text-skin-accent;
    margin-top: -0.75rem;
    transition-duration: 250ms;
  }

  .hamburger-menu {
    @apply z-50 self-end p-2 sm:hidden;
  }
  .hamburger-menu svg {
    @apply h-6 w-6 scale-125 fill-skin-base;
  }

  nav {
    @apply flex w-full flex-col items-center sm:ml-2 sm:flex-row sm:justify-end sm:space-x-4 sm:py-0;
  }
  nav ul {
    @apply mt-4 grid w-44 grid-cols-2 grid-rows-4 gap-x-2 gap-y-2 sm:ml-0 sm:mt-0 sm:w-auto sm:gap-x-5 sm:gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full px-4 py-3 text-center font-medium hover:text-skin-accent sm:my-0 sm:px-2 sm:py-1;
  }
  nav ul li:nth-last-child(2) a {
    @apply w-auto;
  }
  nav ul li:nth-last-child(1),
  nav ul li:nth-last-child(2) {
    @apply col-span-1;
  }
  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }

  nav button {
    @apply p-1;
  }
  nav button svg {
    @apply h-6 w-6 fill-skin-base;
  }

  .menu-icon line {
    @apply transition-opacity duration-75 ease-in-out;
  }
  .menu-icon .close {
    opacity: 0;
  }
  .menu-icon.is-active .line {
    @apply opacity-0;
  }
  .menu-icon.is-active .close {
    @apply opacity-100;
  }

  #menu-items {
    @apply sm:flex;
  }

  @media screen and (max-width: 640px) {
    #menu-items {
      display: flex;
      margin-top: 30px;
      flex-direction: column-reverse;
      justify-content: flex-end;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      padding: 20px;
      transform: translateX(100%);
      opacity: 0;
      transition: 0.5s all;
      @apply bg-skin-tooltip text-skin-base;
    }

    #menu-items.visible {
      transform: translateX(0);
      opacity: 1;
    }

    .hamburger-menu.opened .menu-icon .line {
      opacity: 0;
    }

    .hamburger-menu.opened .menu-icon .close {
      opacity: 1;
    }

    header hr {
      display: none;
    }
  }
</style>

<style>
  .logo-svg {
    @apply h-[40px] w-[40px] text-skin-accent sm:h-[64px] sm:w-[64px];
  }
</style>

<!-- <iframe src="https://e.widgetbot.io/channels/1200296192890916865/1212450831178408036" allow="clipboard-write; fullscreen" height="600" width="800"></iframe> -->
<header class="sticky top-0 z-50 w-full bg-skin-fill">
  <div class="nav-container" smooth-scroll>
    <div class="top-nav-wrap">
      <a href="/" class="logo whitespace-nowrap">
        {
          LOGO_IMAGE.enable ? (
            <div class="flex items-center">
              {/* <Image
                src={`/assets/${LOGO_IMAGE.svg ? "logo2.svg" : "logo.png"}`}
                alt={SITE.title}
                width={LOGO_IMAGE.width}
                height={LOGO_IMAGE.height}
                smooth-scroll
              /> */}

              <Icon name="logo" class="logo-svg" />

              <span class="logo-letter">P</span>
              <span class="logo-letter">l</span>
              <span class="logo-letter">a</span>
              <span class="logo-letter">y</span>
              <span class="logo-letter">D</span>
              <span class="logo-letter">e</span>
              <span class="logo-letter">v</span>
              <span class="logo-letter">s</span>
            </div>
          ) : (
            SITE.title
          )
        }
      </a>
      <nav id="nav-menu">
        <button
          class="hamburger-menu focus-outline"
          aria-label="Open Menu"
          aria-expanded="false"
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="menu-icon"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"></line>
            <line x1="3" y1="6" x2="21" y2="6" class="line"></line>
            <line x1="12" y1="18" x2="21" y2="18" class="line"></line>
            <line x1="18" y1="6" x2="6" y2="18" class="close"></line>
            <line x1="6" y1="6" x2="18" y2="18" class="close"></line>
          </svg>
        </button>
        <ul id="menu-items">
          <!-- <li>
            <a href="/cursos/" class={activeNav === "courses" ? "active" : ""}>
              Cursos
            </a>
          </li> -->

          <li>
            <a
              class={`${activeNav === "challenges" ? "active" : ""} opacity-[0.33] pointer-events-none`}
              aria-disabled="true"
            >
              🔒 Desafios
            </a>
          </li>
          <li>
            <a href="/posts/" class={activeNav === "posts" ? "active" : ""}>
              Postagens
            </a>
          </li>

          <li>
            <a href="/tags/" class={activeNav === "tags" ? "active" : ""}>
              Tags
            </a>
          </li>

          <!-- <li>
            <a href="/instructors/" class={activeNav === "instructors" ? "active" : ""}>
              Instrutores
            </a>
          </li> -->
          <!-- <li>
            <a href="/chat/" class={activeNav === "chat" ? "active" : ""}>
              Nosso Chat
            </a>
          </li> -->
          <div
            class="mb-2 mt-12 flex flex-row justify-center gap-8 sm:mb-0 sm:mt-0 sm:gap-4"
          >
            <li class="flex">
              <LinkButton
                href="/search/"
                className={`focus-outline p-1 ${
                  activeNav === "search" ? "active" : ""
                } flex`}
                ariaLabel="search"
                title="Pesquisar"
              >
                <svg xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
                  ></path>
                </svg>
                <span class="sr-only">Pesquisar</span>
              </LinkButton>
            </li>

            <li>
              {
                !isAuth && (
                  <div class="user-area flex">
                    <UserArea client:load />
                  </div>
                )
              }
            </li>

            <!-- <li>
              <IconBell className="fill-none" />
            </li> -->

            <li class="order-4">
              <button
                id="theme-btn"
                class="focus-outline"
                title="Toggles light & dark"
                aria-label="auto"
                aria-live="polite"
              >
                <span id="moon-svg">
                  <IconMoon className="fill-none" />
                </span>

                <span id="sun-svg">
                  <IconSun className="fill-none" />
                </span>
              </button>
            </li>

          </div>

          <!-- <li class="relative">
            
            <LayoutConfig />

          </li> -->
        </ul>
      </nav>
    </div>
  </div>
  <Hr noPadding />
</header>

<script>
  function toggleMenuHamburguer() {
    document.getElementById("menu-items")?.classList.toggle("visible");
    document.querySelector(".hamburger-menu")?.classList.toggle("opened");
  }

  document.addEventListener("astro:page-load", () => {
    document
      .querySelector("button.hamburger-menu")
      ?.addEventListener("click", toggleMenuHamburguer);
  });
  // document.querySelector('button.hamburger-menu')?.removeEventListener('click', toggleMenuHamburguer);
</script>
