.comment-container {
  margin-top: 20px;

  .create-comment {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: flex-end;

    .login-mask {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      margin-bottom: 16px;
    }
  }

  .comment {
    &-textarea {
      width: 100%;
      resize: none;
      border: 2px solid #14b8c0;
      border-radius: 10px;
      background-color: transparent;
      padding: 20px;
    }

    &-button {
      @apply bg-skin-accent text-white p-2 rounded-sm transition ease-in hover:bg-skin-accent-dark;
    }
  }
}